.header {
    padding: 10px 14px;
    background: #555;
    color: #f1f1f1;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    text-align: right;
  }
.input_wrapper{
  margin-right: 20px;
  font-size: large;
}
.text_input{
    padding: 7px;
    background-color: #555;
    color: white;
    border: solid 1px;
    border-color: black;
    outline: none;
}

.header_button{
  padding: 7px;
}